
main{
    width: 90%;
    margin: auto;
}
.photo-template{
overflow: hidden;
    /* border: 2px solid black; */
}
div{
    float: left;
    width: max-content;
    margin: 20px;
    height: 300px;
    
}
img{
    margin: auto;
    
    width: 200px;
    height: 200px;
}
h2{
    text-align: center;
    padding: 10px;
    width: max-content;
    margin:auto ;
}
p{
    width:200px;
    text-align: center;
    margin: 5px 0;
    padding: 5px 0;
    /* overflow: auto; */

}
footer{
    clear: both;
}