
main{
    width: 90%;
    margin: auto;
}
.photo-template{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
div{
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 20px;
    height: 300px;
    overflow: hidden;
    
}
img{
    margin: auto;
    
    width: 200px;
    height: 200px;
}
h2{
    text-align: center;
    padding: 10px;
    width: 200px;
    margin:auto ;

}
p{
    width:200px;
    text-align: center;
    margin: 5px 0;
    padding: 5px 0;
}
footer{
    clear: both;
}